.main-slider-area {
    display:none;
}


@media only screen and (max-width: 767px) {
 
    .woski-image {
        display:none;
    	
           }        

  .mobile_menu_logo {
    display: none;
  }
  .main-slider-area {
    display: inline !important;
  }

  .exoert-icon{
    margin-top: 40px; 
    padding-left:20px;
    border:0 !important;
     width:70%; 
     text-align: justify;
      margin:0 auto;

  } 

  /*ORGANGE BUTTON "CONOCENOS" */
  
  .button-mobile {
    margin-top:20px !important;
    border:2px solid purple !important;
  }
 
  }

